body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 50px;
  text-align: center;
}

.status-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 12px;
}

/* Loading Spinner */
/* Absolute Center Spinner */
.loading {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}

/* Transparent Overlay */
.loading:before {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.loading:not(:required):after {
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  content: "";
  display: block;
  font-size: 10px;
  height: 1em;
  margin-top: -0.5em;
  width: 1em;

  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
