body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

table {
  width: 500px;
  border: 1px solid black;
}

th {
  width: 50%;
}

button {
  cursor: pointer;
}

/* Verification.html */
.confirm {
  background-color: green;
  color: white;
  font-weight: bold;
}

.reject {
  background-color: red;
  color: white;
  font-weight: bold;
}
